<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Добавление нового счёта</title>
</head>
<body>

<h2>Добавление нового аккаунта для пользователя  <span th:text="${client.username}"></span>.</h2>

<form method="POST" th:action="@{/accounts/addAccount/{id}(id=${client.id})}" th:object="${account}">
<label for="sum">Сумма: </label>
<input type="text" th:field="*{sum}" name="sum"/><br/>
<div th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}">Name Error</div>
<input type="submit" value="Add"/>
</form>

<div th:insert="footer :: copy"></div>

</body>
</html>